* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: rgb(246, 255, 240);
    height: 5rem;
    line-height: 5rem;
}

.choice:hover {
    opacity: 50%;
    cursor: pointer;
}

.choice {
    height: 200px;
    width: 200px;
    

}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid black;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 50px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}

.Yscore {
    margin-right: 2rem;
    
}

.Cscore {
    margin-left: 2rem;
    
}

.msg-container{
    
    margin-top: 5rem;
    
    
}

#user-score {
    font-size: 3rem;
}
#comp-score {
    font-size: 3rem;
}

#msg {
    background-color: #081b31;
    color: aliceblue;
    padding: 1rem;
    font-size: 3rem;
    display: inline;
    border-radius: 1rem;
}

